.play-container {
    height: 100vh;
    display:  flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.play-hands-container {
    width: 375px;
    display:flex; 
    justify-content:space-around
}