.welcome-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.welcome-hands-container {
    width: 375px;
    display:flex; 
    justify-content:space-around
}