.contaner-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score-container {
    width: 300px;
    border: solid 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
}
.score-text {
    font-size: 55px;
    font-weight: bold;
}

.results {
    display: block;
    text-align: right;
} 